html, body {
    background-color: #f1f1f1;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
justify-content: center;
  flex-basis: 100%;
  flex: 1;
}

.center {
    justify-content: center;
}