<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Ghost in the Shell</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <div class="row center">
            <h1>The Ghost in the shell</h1>
        </div>

        <div class="row center">
            <form method="post">
                <div class="column">
                    <label>
                        Enter a number for the <a href="https://simple.wikipedia.org/wiki/Factorial">factorial</a>
                    </label>
                    <input name="number" placeholder="Enter a number">
                    <button>Lets Roll</button>
                </div>
            </form>
        </div>
    </body>
</html>