<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Ghost in the Shell</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <div class="row center">
            <h1>The Ghost in the shell</h1>
        </div>

        <h1>Factorial Calculator</h1>
		<form method="post" id="form">
			<label for="num">Enter Number : </label>
			<input type="text" id="num" name="number" autofocus autocomplete="off">
			<button>Post</button>
		</form>
		<p id="factorial"></p>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script>
			$('#form').on('submit', function(e){
				var number = $('#num').val();
				e.preventDefault();
				$.ajax({
					url: 'http://127.0.0.1:5000/factorial/',
					data: {'number': number},
					method: 'POST',
					success: function(data) {
						$('#num').val('');
						$('#factorial').html('factorial of ' + number + ' is ' + data['factorial'])
					}
				});
			});
		</script>
    </body>
</html>