<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Ghost in the Shell</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <div class="flex-container row center">
            <h1>The Ghost in the shell</h1>
        </div>

        <div class="flex-container row center">
            <div class="flex-container column">
                <div class="flex-container row center">
                    <h3>Factorial Calculator</h3>
                </div>

                <form id="form" class="flex-container column space-around" onSubmit='return;'>
                    <div class="flex-container row center">
                        <label for="num">Enter your number...</label>
                    </div>
                    <input type="text" id="num" name="number" autofocus autocomplete="off">
                    <button id='submit'>Let's math</button>
                </form>
                <p id="factorial"></p>
            </div>
        </div>

        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        
    </body>
</html>
